:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background-color: #f6f7f8;
  padding: 0 8%;
  display: flex;
  flex-direction: column;

  /* @apply flex flex-col items-center; */
  @apply text-gray-900;
}

/* #root {
  @apply w-full max-w-screen-2xl;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;
